@model IEnumerable<WebApplication10.Models.FacturaData>

@{
    ViewBag.Title = "Ventas";
}

<h2>Ventas</h2>

<button class="btn btn-primary" style="margin-bottom:1rem" onclick="location.href='@Url.Action("Create")';return false;">Generar Venta</button>

<table class="table">
    <tr>
        <th></th>
    </tr>



</table>
